@media screen and (max-width: 420px) {
    .ad-box {
        display: none;
    }
}

.union {
    position: fixed;
    right: 10px;
    top: 150px;
    width: 250px;
}
.union img {
    width: 100%;
}
.title a {
    color: red; text-align: center; display: block;text-decoration: none;
}
@media screen and (max-width: 420px) {
    .union {
        bottom: 70px;
        top: auto;
        left: 0;
    }
    .logo {
        height: 100px;
    }
}